:root {
  --text: hsl(0, 0%, 95%);
  --background: hsl(0, 0%, 10%);
  --primary: hsl(272, 76%, 53%);
  --secondary: hsl(0, 0%, 15%);
  --accent: hsl(260, 100%, 44%);

  --priority-high: red;
  --priority-medium: yellow;
  --priority-low: green;
  --priority-none: transparent;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;

  /* Center text inside button*/
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  background-image: linear-gradient(90deg, var(--secondary), var(--background));
  color: var(--text);
  border-radius: 0.67rem;
  padding: 0.1rem 0.67rem;
  border: unset;
  min-width: 200px;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--text);
}

body {
  min-height: 100dvh;
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template: max-content 1fr / 1fr;
}

body > header {
  padding: 1rem;
  background-image: linear-gradient(90deg, var(--secondary), transparent 20%);
  margin: 1rem;
  border-radius: 1rem;
}

body > main {
  display: grid;
  grid-template: 1fr / max-content 1fr;
}

@media (max-width: 1000px) {
  body > main {
    grid-template: max-content 1fr / 1fr;
  }
}

main > aside {
  padding: 1rem;
  margin: 1rem;
  background-image: linear-gradient(90deg, var(--secondary), transparent);
  border-radius: 1rem;
}

main > aside > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

main > aside > ul {
  list-style: none;
  margin-top: 1rem;
  padding-left: 0;
}

main > aside > ul > * {
  margin-top: 0.25rem;
}

main > aside .project-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

main > aside .project-list button {
  width: 100%;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  text-align: start;
}

main > aside .project-list button.active-btn {
  background-image: linear-gradient(90deg, var(--primary), var(--accent));
}

.project-container header {
  line-height: 1.2;
  padding: 1rem;
  margin: 1rem;
  background-image: linear-gradient(45deg, var(--primary), var(--accent));
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.project-container header.editing .header-text-container {
  display: none;
}

.project-container header .header-text-container {
  display: unset;
}

.project-container header :is(h1, h2) {
  margin: 0;
}

.project-container header .header-text-form {
  display: none;
}

.project-container header.editing .header-text-form {
  flex: 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  row-gap: 0.33rem;
  align-items: center;
}

.project-container header.editing .header-text-form > label {
  text-align: right;
}

@media (max-width: 600px) {
  .project-container header.editing {
    flex-direction: column;
  }

  .project-container header.editing .header-text-form {
    grid-template-columns: 1fr;
  }

  .project-container header.editing .header-text-form > label {
    text-align: left;
  }
}

.project-container header.editing .form-btn-container {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.33em;
}

.project-container header.editing .form-btn-container > button {
  padding: 0.33rem 0.67rem;
}

.project-container header .header-btn-container {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.project-container .project-content {
  margin: 1rem;
  padding: 1rem;
  background-image: linear-gradient(90deg, var(--secondary), transparent 10%);
  border-radius: 1rem;
}

.project-container .project-content > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo {
  padding: 1rem 1rem 0;
  border-left: 0.5rem solid var(--priority-none);
  display: grid;
  gap: 0.5rem;
  grid-template: 1fr max-content / 1fr max-content;
  cursor: pointer;
}

.todo.editing .todo-content,
.todo .todo-form {
  position: absolute;
  visibility: hidden;
}

.todo .todo-content,
.todo.editing .todo-form {
  position: unset;
  visibility: unset;
}

.todo.editing .todo-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em 1em;
  align-items: center;
}

.todo.editing .todo-form label {
  text-align: right;
}

@media (max-width: 600px) {
  .todo {
    grid-template: 1fr max-content max-content / 1fr;
  }

  .todo.editing .todo-form {
    grid-template: max-content 1fr / 1fr;
  }

  .todo.editing .todo-form label {
    text-align: left;
  }
}

.todo.editing .todo-form textarea {
  resize: none;
}

.todo.editing .todo-form .todo-form-btns {
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.todo.editing .todo-form .todo-form-btns > button {
  padding: 0.33rem 0.67rem;
}

.todo.expanded {
  cursor: unset;
  background-image: linear-gradient(90deg, var(--secondary), transparent 20%);
}

.todo[data-priority="1"] {
  border-color: var(--priority-low);
}

.todo[data-priority="2"] {
  border-color: var(--priority-medium);
}

.todo[data-priority="3"] {
  border-color: var(--priority-high);
}

.todo .only-in-expanded {
  position: absolute;
  visibility: hidden;
}

.todo.expanded .only-in-expanded {
  position: unset;
  visibility: unset;
}

.todo.expanded .todo-controls {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  align-items: start;
}

.todo .todo-due-date + * {
  margin-top: 1rem;
}

.todo .todo-expand-btn {
  width: 100%;
  grid-column: 1 / -1;
}
